<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Evento da UNIFEI</title>
    <link rel="stylesheet" href="{% static 'fepi_tech_event/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Evento da UNIFEI 2024</h1>
        <img src="{% static 'fepi_tech_event/img/frente-unifei.png' %}" alt="UNIFEI">
    </header>
    <main>
        <section>
            <p>Seja bem-vindo ao Evento da UNIFEI! Estamos muito felizes em tê-lo conosco para um dia repleto de aprendizado, troca de experiências e networking. Prepare-se para explorar novas ideias, conectar-se com profissionais da área e descobrir as oportunidades que a nossa instituição oferece. Aproveite o evento!</p>
        
        </section>
    </main>
</body>
</html>
